<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gerenciador de Conteúdo</title>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" sizes="32x32" href="/views/admin/assets/img/favicon.png" />

    <link rel="stylesheet" href="/views/admin/assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css">
    <link rel="stylesheet" href="/views/admin/assets/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/views/admin/assets/plugins/iCheck/square/blue.css">

    <link rel="stylesheet" href="/views/admin/assets/css/skins/skin-blue.min.css">

    <link rel="stylesheet" href="/views/admin/assets/bootstrap-datepicker/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

    <!-- DATATABLES -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" />

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/views/admin/assets/css/style.css">

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini">

    <!-- Modal -->
    <div class="modal fade" id="modal_send_image" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><label>Cadastro de Imagens/Pdf</label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="post" id="form_send_image" enctype="multipart/form-data">
                        <div class="row" style="margin: 0 14px;">
                            <div class="col-md-12">
                                <input type="file" name="file_send_image" id="file_send_image" class="form-control"
                                    accept="image/png, image/jpeg, application/pdf">
                                <p class="text-muted">Aqui você poderá salvar qualquer imagem/pdf para ser utilizada no
                                    editor de conteúdo do portal.</p>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="row" style="margin: 0 14px;">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" id="btn_save_send_image">Salvar</button>
                        </div>
                    </div>

                    <div id="loading_all_images"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="ajax_load">
        <div class="ajax_load_box">
            <div class="ajax_load_box_circle"></div>
            <div class="ajax_load_box_title">Aguarde, carregando!</div>
        </div>
    </div>

    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/admin" class="logo">
                <span class="logo-mini">GRC</span>
                <span class="logo-lg">Gerenciador</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu" style="display: none;">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="/views/admin/assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>Support Team<small><i class="fa fa-clock-o"></i>5 mins</small></h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->

                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu" style="display: none;">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#"><i class="fa fa-users text-aqua"></i> 5 new members joined
                                                today</a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu" style="display: none;">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                        role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                        aria-valuemax="100">
                                                        <span class="sr-only">20%
                                                            Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="/views/admin/assets/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{$_SESSION['User']['desperson']}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="/views/admin/assets/img/user2-160x160.jpg" class="img-circle"
                                        alt="User Image">
                                    <p>
                                        {$_SESSION['User']['desperson']} - {#date('Y')#}
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/admin/logout" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/views/admin/assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>{$_SESSION['User']['desperson']}</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="treeview" style="display:none">
                        <a href="#"><i class="fa fa-newspaper-o"></i> <span>Artigos</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/artigos">Artigos</a></li>
                            <li><a href="/admin/artigos-categorias">Categorias</a></li>
                        </ul>
                    </li>
                    <li class="treeview" style="display:none">
                        <a href="#"><i class="fa fa-photo"></i><span>Mídias</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/albums">Fotos</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin/artigos"><i class="fa fa-newspaper-o"></i><span>Artigos</span></a></li>
                    <li><a href="/admin/artigos-categorias"><i class="fa fa-list-ul"></i><span>Categorias</span></a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                          <i class="fa fa-book"></i>
                          <span>Cursos</span>
                          <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                          </span>
                        </a>
                        <ul class="treeview-menu">
                          <li><a href="/admin/cursos"><i class="fa fa-circle-o"></i> Graduação</a></li>
                          <li><a href="/admin/pos-graduacao"><i class="fa fa-circle-o"></i> Pós-Graduação</a></li>
                        </ul>
                      </li>

                    <li><a href="/admin/vestibulares"><i class="fa fa-trophy"></i><span>Vestibulares</span></a></li>

                    <li><a href="/admin/fique-por-dentro"><i class="fa fa-eye"></i><span>Fique por dentro</span></a></li>

                    <li><a href="/admin/parceiros"><i class="fa fa-briefcase"></i><span>Parceiros</span></a></li>

                    <li><a href="/admin/ouvidoria"><i class="fa fa-question-circle"></i><span>Ouvidoria</span></a></li>
                    
                    <li><a href="/admin/banners"><i class="fa fa-windows"></i><span>Banners</span></a></li>
                    <li><a href="/admin/eventos"><i class="fa fa-calendar"></i><span>Eventos</span></a></li>
                    <li><a href="/admin/albums"><i class="fa fa-photo"></i><span>Fotos</span></a></li>
                    <li><a href="/admin/paginas"><i class="fa fa-file-o"></i><span>Páginas</span></a></li>
                    <li><a href="/admin/users"><i class="fa fa-users"></i><span>Usuários</span></a></li>
                    <hr>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#modal_send_image"><i
                                class="fa fa-files-o"></i><span>Todas as Imagens</span>
                        </a>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>