<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gerenciador de Contéudo
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
            <!-- <li class="active">Dashboard</li> -->
            <li class="active">Gerenciador</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <ul class="list-itens-main">
            <li>
                <div>
                    <i class="fa fa-calculator"></i><br />
                    <p>Total de Artigos</p>
                    <p>{$qtdArticles}</p>
                </div>
            </li>
           
            <li>
                <div>
                    <a href="https://mail.google.com/" target="_blank">
                        <i class="fa fa-envelope"></i><br />
                        <p>Gmail</p>
                    </a>
                </div>
            </li>
      
            <li>
                <div>
                    <a href="https://analytics.google.com/analytics/web/" target="_blacnk">
                        <i class="fa fa-bar-chart-o"></i><br />
                        <p>Google Analytics </p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="https://app.neurologic.com.br/" target="_blank"><i class="fa fa-headphones"></i><br />
                        <p>Neurologic</p>
                    </a>
                </div>
            </li>
        
        </ul>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->