<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Lista de Ouvidoria
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"><a href="/admin/ouvidoria">Ouvidoria</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">

          <div class="box-body">
            <table class="table table-striped tableOuvidoria">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Usuário</th>
                  <th>Tipo</th>
                  <th>Descrição</th>
                  <th>Setor</th>
                  <th>Observação</th>
                  <th>Criado</th>
                </tr>
              </thead>
              <tbody>

                {if="count($respostas) < 1"} 
                  <tr>
                    <td colspan="7" class="text-center">
                      <p class="text-danger">Nenhum registro encontrado.</p>
                    </td>
                  </tr>
                  {else}
                  
                  {loop="$respostas"}
                  <tr>
                    <td>{$value.id}</td>
                    <td>{$value.usuario}</td>
                    <td>{$value.tipo}</td>
                    <td>{$value.descricao}</td>
                    <td>{$value.setor}</td>
                    <td>{$value.observacao}</td>
                    <td>{$value.created_at}</td>
                  </tr>
                  {/loop}

                 {/if}

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->