@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,300;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

:root {
  --cor-primary: #006f23;
  --cor-second: #ff9100;
  --cor-tertiary: #012a48;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  height: 100%;
}
body {
  margin: 0;
  line-height: 2.2em;
  color: #212529;
  background-color: #fff;
}

/* Customizando pagina dos cursos */
.header--cover {
  position: relative;
  height: 160px;
  width: 100%;
}
.header--cover .logotipo {
  position: absolute;
  bottom: 82px;
  left: 50%;
  transform: translate(-50%, 50%);
  object-fit: contain;
  width: 150px;
  height: 150px;
}
.header--cover .cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  filter: sepia(69%) hue-rotate(84deg) saturate(245%);
  -webkit-filter: sepia(69%) hue-rotate(84deg) saturate(245%);
  -moz-filter: sepia(69%) hue-rotate(84deg) saturate(245%);
}
.body--curso {
  margin-top: 50px;
}
.body--curso h4 {
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 18px;
  color: #004c00;
}
.list--anexos .list-group-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #004c00;
  transition: all 0.3s;
}
.list--anexos .list-group-item a:hover {
  color: #006f23;
}

/**/
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

#owl-banners .item img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/* Topo */
.topo--header {
  height: 100px;
  display: flex;
}
.topo--header > div:first-child {
  width: 30%;
}
.topo--header > div:nth-child(2) {
  width: 63%;
  padding-top: 18px;
}
.topo--header > div:nth-child(3) {
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topo--header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.topo--header ul li {
  flex: 1 1 100px;
  margin: 4px 2px;
  text-align: center;
}

.box {
  display: flex;
}
.box div h3 {
  font-size: 14px;
  color: #006f23;
  text-align: left;
}
.box div h5 {
  font-size: 14px;
  text-align: left;
}
.box div i {
  color: #006f23;
}
.box div {
  width: 100%;
}
.box div:first-child {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box div:last-child {
  width: 80%;
}
.topo--header .redes--socials li {
  background-color: #006f23;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  transition: all 0.2s;
  position: relative;
}
.topo--header .redes--socials li i {
  position: absolute;
  top: 6px;
  left: 8px;
}
.topo--header .redes--socials a {
  color: #fff;
}
.topo--header .redes--socials li:hover {
  background-color: var(--cor-second);
}

/* Section */
.page--section {
  padding: 3rem 0;
}

.page--section h2 {
  font-weight: 600;
  letter-spacing: -1px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.page--section h3 {
  /* font-style: italic; */
  font-size: 1.2em;
  font-weight: 300;
  padding: 34px 0;
  padding-top: 10px;
  /* font-family: "Playfair Display", serif; */
  color: #6c757d;
}
.page--section hr {
  border: 2px solid var(--cor-primary);
  width: 200px;
  margin: 0 auto;
}

/* Custom show main courses */

.list--main--courses {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  list-style: none;
}
.list--main--courses li {
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
}
.box--course img {
  width: 100px;
  transition: ease 0.3s;
}
.box--course > div {
  /* background-color: rgba(40, 167, 69, 0.8); */
  background-color: #28a745;
  height: 100%;
  transition: ease 0.3s;
  position: relative;
  padding: 30px 0;
}
.box--course div:hover {
  background-color: rgba(253, 189, 0, 0.9);
  cursor: pointer;
}
.box--course div:hover:before {
  display: flex;
  content: "Tomar decisões, desenvolvendo a autonomia e automotivação";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 24px;
  /* color: #fff; */
  font-weight: 300;
}
.box--course > div p {
  /* color: #fff; */
  transition: ease 0.3s;
}
.box--course {
  width: 100%;
  background-color: burlywood;
  height: 200px;
  background-image: url("../images/banner(1).jpg");
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  text-align: center;
  transition: ease 0.5s;
}
.to--hide--img {
  opacity: 0;
}
/* End - Custom show main courses */

/* Events */
.list--events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box--events {
  background-color: #fff;
  padding: 2px 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  min-height: 75px;
}

.box--events .data {
  background: var(--cor-primary);
  color: #fff;
  line-height: 15px;
  padding: 10px 15px;
  border-radius: 0.25rem;
  float: left;
  margin-right: 13px;
  margin-top: 7px;
  width: 51px;
  font-weight: 700;
  text-align: center;
}

.box--events h4 a {
  font-weight: 700;
  font-size: 17px;
  color: var(--cor-primary);
}
.box--events h5 {
  color: #777;
  font-size: 15px;
  margin: 5px 0 0 0;
  line-height: 20px;
}
.box--events h5 span {
  color: #75af2c;
  letter-spacing: -1px;
}
.box--events .data .mes .dia {
  font-family: "Dancing Script";
  font-size: 26px;
}

.agenda .box--events .data {
  background-color: var(--cor-second);
  color: #004c00;
}

.img-events {
  width: 222px;
  float: left;
  margin-right: 14px;
}

/* End - Events */

#noticias_agenda {
  position: relative;

  background-image: url("../images/71352.jpg");
  /* background-image: url("../images/pattern.jpg"); */
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#noticias_agenda h2 {
  color: #fff;
}

.square {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #f8f9fa;
  top: -15px;
  left: 49.1%;
  transform: rotate(45deg);
  text-align: center;
}

/* Background Parceiros */
.bg--gray {
  /* border-bottom: 1px solid #ccc; */
  padding: 38px 0;
}

.slick_parceiros div img {
  filter: grayscale(100%);
  opacity: 0.6;
  transition: ease-in 0.2s;
  width: 150px;
  border-radius: 10px;
}
.slick_parceiros div img:hover {
  opacity: 1;
  filter: none;
}
.slick-prev:before,
.slick-next:before {
  color: var(--cor-primary);
  font-family: "FontAwesome";
}
.slick-next:before {
  content: "\f061";
}
.slick-prev:before {
  content: "\f060";
}

/* Footer */
.bg--footer {
  padding: 40px 0;
  background-image: linear-gradient(to right, #013334, #004c00);
}

.bg--footer h4 {
  color: #fff;
  font-size: 1rem;
  border-bottom: 1px dashed rgba(253, 189, 0, 0.3);
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
}

.bg--footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bg--footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.bg--footer ul li:hover a {
  color: var(--cor-second);
}
.bg--footer ul li {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8rem;
  padding: 4px;
  line-height: 22px;
  box-sizing: border-box;
}

/* Rede Socials Footer */
.socials--footer {
  display: flex;
  justify-content: space-around;
}

.end--footer {
  border-top: 1px dashed rgba(253, 189, 0, 0.3);
  color: #fff4;
  font-size: 0.9rem;
}

/* Custom Cronometro */
.stat-number {
  font-size: 3rem;
}
.bg-stat-number h4 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
.bg-stat-number h5 {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 28px;
  padding: 25px 0;
  margin: 0;
}
.bg-stat-number {
  color: #fff;
}
.counter-item {
  text-align: center;
}
.bg--top--start--number {
  background-color: var(--cor-primary);
}
.bg--bottom--start--number {
  background-color: #116e25;
}

.topo {
  background-color: var(--cor-second);
  width: 40px;
  height: 40px;
  color: var(--cor-primary);
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
  z-index: 4;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 34px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Custom menu Bootstrap */
.dropdown-item:focus,
.dropdown-item:hover {
  color: #ff9100;
}
.bg-dark {
  background-color: #006f23 !important;
}

/* Logo Brand */
.logo--brand {
  width: 70px;
  transform: scale(1.6);
  margin-left: 6px;
}
.nav-link {
  color: #fff !important;
  font-size: 1.1em;
}

/* Form */

#form-contato label.error {
  color: #f00;
  margin: 4px 0;
  padding: 0 4px;
  font-weight: 300;
  font-size: 0.9rem;
  background-color: #ff9986;
  display: block;
  border-radius: 4px;
  border: 1px solid salmon;
}
.bg--default {
  background-color: #363a3d !important;
}

.details-contact h4 {
  font-size: 18px;
  font-weight: 700;
}
.details-contact p {
  font-size: 16px;
  color: #666;
}
.details-contact h5 {
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-cor);
}
.details-contact i {
  color: var(--primary-cor);
}

.wrap-form {
  padding: 16px 0px;
}
.wrap-form p {
  font-style: italic;
  color: #fff;
}
.wrap-form h5 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.bg--send {
  background-color: #fff;
  outline: 0;
  color: #333;
  border: none;
}
button.bg--send:hover {
  color: #fff;
  background-color: #006f23;
  cursor: pointer;
  outline: 0;
}

p.text-justify.mt-3 {
  font-weight: 300;
  line-height: 40px;
  padding: 6px;
  border-radius: 4px;
  background-color: #eee;
}

/* Default load */

.ajax_load {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.ajax_load_box {
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
  border: 16px solid #e3e3e3;
  border-top: 16px solid #3c8dbc;
  border-radius: 50%;
  margin: auto;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1.2s linear infinite;
  -o-animation: spin 1.2s linear infinite;
  animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
  margin-top: 15px;
  font-weight: bold;
}
