<footer class="bg--footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <img src="views/site/assets/images/logo_faam_pb.png" alt="Logo" class="img-fluid">
                <ul>
                    <li><a href="#">O faculdade</a></li>
                    <li><a href="#">Seja nosso parceiro</a></li>
                    <li><a href="#">Trabalhe conosco</a></li>
                    <li><a href="#">Acesso colaborador</a></li>
                    <li><a href="#">Assessoria de imprensa</a></li>
                </ul>
                <ul class="socials--footer">
                    <li><a href="#"><i class="fa fa-whatsapp fa-3x"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram fa-3x"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin fa-3x"></i></a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>INSTITUCIONAL</h4>
                <ul>
                    <li><a href="#">QUEM SOMOS</a></li>
                    <li><a href="#">MODALIDADES DE ENSINO</a></li>
                    <li><a href="#">PROCESSOS SELETIVOS</a></li>
                    <li><a href="#">REGULAMENTOS</a></li>
                    <li><a href="#">MANUAL DO ALUNO</a></li>
                    <li><a href="#">REGIMENTO INTERNO</a></li>
                    <li><a href="#">FORMAS DE INGRESSO</a></li>
                    <li><a href="#">PROJETOS E PESQUISAS</a></li>
                    <li><a href="#">BIBLIOTECA</a></li>
                    <li><a href="#">EXTENSÃO E RESPONSABILIDADE SOCIAL</a></li>
                    <li><a href="#">COMISSÃO PRÓPRIA DE AVALIAÇÃO</a></li>
                    <li><a href="#">EGRESSOS</a></li>
                    <li><a href="#">FORMATURAS</a></li>
                    <li><a href="#">PERGUNTAS FREQUENTES</a></li>
                    <li><a href="#">CENTRAL DE EMPREGOS E CARREIRAS</a></li>
                    <li><a href="#">DESENVOLVIMENTO ARTÍSTICO E CULTURAL</a></li>
                </ul>


            </div>
            <div class="col-md-3">
                <h4>INSTITUCIONAL</h4>
                <ul>
                    <li><a href="#">QUEM SOMOS</a></li>
                    <li><a href="#">MODALIDADES DE ENSINO</a></li>
                    <li><a href="#">PROCESSOS SELETIVOS</a></li>
                    <li><a href="#">REGULAMENTOS</a></li>
                    <li><a href="#">MANUAL DO ALUNO</a></li>
                    <li><a href="#">REGIMENTO INTERNO</a></li>
                </ul>
                <h4>INSTITUCIONAL</h4>
                <ul>
                    <li><a href="#">QUEM SOMOS</a></li>
                    <li><a href="#">MODALIDADES DE ENSINO</a></li>
                    <li><a href="#">PROCESSOS SELETIVOS</a></li>
                    <li><a href="#">REGULAMENTOS</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>BOLSAS E FINANCIAMENTOS</h4>
                <ul>
                    <li><a href="#">FIES</a></li>
                    <li><a href="#">PROGRAMA DE BOLSAS</a></li>
                </ul>
                <h4>ATENDIMENTO</h4>
                <ul>
                    <li>SECRETARIA<br /> <i class="fa fa-whatsapp"></i> (91)98265.0277</li>
                    <li>FINANCEIRO<br /> <i class="fa fa-whatsapp"></i> (91)98265.0277</li>
                    <li>SAC<br /> <i class="fa fa-whatsapp"></i> (91)98265.0277</li>
                    <li>OUVIDORIA<br /> <i class="fa fa-whatsapp"></i> (91)99761.7522</li>
                    <li>SUPORTE AO ALUNO<br /> <i class="fa fa-whatsapp"></i> (91)99918.3068</li>
                </ul>
            </div>
        </div>
        <div class="row end--footer mt-4">
            <div class="col-md-6">
                © 2021 FAAM Faculdade da Amazônia - Todos os direitos reservados
            </div>
            <div class="col-md-6 text-right">
                Política de Privacidade
            </div>
        </div>
    </div>
</footer>

<script src="{function="asset('js/jquery.js','/site')"}"></script>
<script src="{function="asset('js/jquery.appear.js','/site')"}"></script>
<script src="{function="asset('js/slick.min.js','/site')"}"></script>
<script src="{function="asset('js/owl.carousel.min.js','/site')"}"></script>

<!-- JQUERY VALIDATE -->
<script src="{function="asset('js/jquery.validate.js','/site')"}"></script>
<script src="{function="asset('js/additional-methods.js','/site')"}"></script>
<script src="{function="asset('js/localization/messages_pt_BR.js','/site')"}"></script>

<!-- BOOSTRAP JS -->
<script src="{function="asset('js/bootstrap.min.js','/site')"}"></script>

<script src="{function="asset('js/script.js','/site')"}"></script>

</body>

</html>
