<!-- BTN TOPO -->
<div class="topo">
    <i class="fa fa-arrow-up"></i>
</div>


<footer class="bg--footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <img src="/views/site/assets/images/logo_faam_pb.png" alt="Logo" class="img-fluid">
                <ul>
                    <li><a href="#">A faculdade</a></li>
                    <li><a href="#">Seja nosso parceiro</a></li>
                    <li><a href="#">Trabalhe conosco</a></li>
                    <li><a href="#">Acesso colaborador</a></li>
                    <li><a href="#">Assessoria de imprensa</a></li>
                </ul>
                <ul class="socials--footer">
                    <li><a href="https://www.facebook.com/faculdadedaamazonia" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
                    <li><a href="https://www.instagram.com/faamoficial/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCMgSVAJpxjBDh5ttG2bhU0Q" target="_blank"><i class="fa fa-youtube fa-3x"></i></a></li>
                    <li><a href="https://www.linkedin.com/school/faam---faculdade-da-amaz%C3%B4nia/" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>INSTITUCIONAL</h4>
                <ul>
                    <li><a href="/quem-somos">&bull; QUEM SOMOS</a></li>
                    <li><a href="/modalidades-de-ensino">&bull; MODALIDADES DE ENSINO</a></li>
                    <li><a href="/processos-seletivos">&bull; PROCESSOS SELETIVOS</a></li>
                    <li><a href="/regulamentos">&bull; REGULAMENTOS</a></li>
                    <li><a href="/manual-do-aluno">&bull; MANUAL DO ALUNO</a></li>
                    <li><a href="/regimento-interno">&bull; REGIMENTO INTERNO</a></li>
                    <li><a href="/formas-de-ingresso">&bull; FORMAS DE INGRESSO</a></li>
                    <li><a href="/projetos-e-pesquisas">&bull; PROJETOS E PESQUISAS</a></li>
                    <li><a href="/extensao-e-responsabilidade-social">&bull; EXTENSÃO E RESPONSABILIDADE SOCIAL</a></li>
                    <li><a href="/comissao-propria-de-avaliacao-cpa">&bull; COMISSÃO PRÓPRIA DE AVALIAÇÃO</a></li>
                    <li><a href="/formaturas">&bull; FORMATURAS</a></li>
                    <li><a href="/perguntas-frequentes">&bull; PERGUNTAS FREQUENTES</a></li>
                    <li><a href="/central-de-empregos-e-carreiras">&bull; CENTRAL DE EMPREGOS E CARREIRAS</a></li>
                </ul>


            </div>
            <div class="col-md-3">
                <h4>ATENDIMENTO AO ALUNO</h4>
                <ul>
                    <li><a href="/secretaria-academica">&bull; SECRETARIA ACADÊMICA</a></li>
                    <li><a href="/ouvidoria">&bull; OUVIDORIA</a></li>
                    <li><a href="/fale-com-a-diretora">&bull; FALE COM A DIRETORA</a></li>
                    <li><a href="/autenticar-documento">&bull; AUTENTICAR DOCUMENTO</a></li>
                </ul>
                <h4>LINKS ÚTEIS</h4>
                <ul>
                    <li><a href="/biblioteca">&bull; BIBLIOTECA</a></li>
                    <li><a href="/central-de-estagios">&bull; CENTRAL DE ESTÁGIOS</a></li>
                    <li><a href="/politica-de-privacidade">&bull; POLÍTICA DE PRIVACIDADE</a></li>
                    <li><a href="/trabalhe-conosco">&bull; TRABALHE CONOSCO</a></li>
                </ul>
                <h4>PÓS-GRADUAÇÃO</h4>
                <ul>
                    <li><a href="/lato-sensu">&bull; LATO SENSU</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>BOLSAS E FINANCIAMENTOS</h4>
                <ul>
                    <li><a href="/fies">&bull; FIES</a></li>
                    <li><a href="/programa-de-bolsas">&bull; PROGRAMA DE BOLSAS</a></li>
                </ul>
                <h4>ATENDIMENTO</h4>
                <ul>
                    <li>TELEFONES<br /> (91) 3255-2236 / 98420-8044 / 98875-7310 </li>
                    <li>CONTATO 01<br /> <i class="fa fa-whatsapp"></i> 98420-8044 </li>
                    <li>CONTATO 02<br /> <i class="fa fa-whatsapp"></i> 98875-7310</li>
                </ul>
            </div>
        </div>
        <div class="row end--footer mt-4">
            <div class="col-md-6">
                © 2021 FAAM Faculdade da Amazônia - Todos os direitos reservados
            </div>
            <div class="col-md-6 text-right">
                Desenvolvido por <a href="https://www.dellanosites.com.br/" target="_blank">Dellano Sites</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://unpkg.com/scrollreveal"></script>

<script src="{function="asset('js/jquery.js','/site')"}"></script>
<script src="{function="asset('js/jquery.appear.js','/site')"}"></script>
<script src="{function="asset('js/slick.min.js','/site')"}"></script>
<!-- Jquery sweetalert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="{function="asset('js/owl.carousel.min.js','/site')"}"></script>

<!-- JQUERY VALIDATE -->
<script src="{function="asset('js/jquery.validate.js','/site')"}"></script>
<script src="{function="asset('js/additional-methods.js','/site')"}"></script>
<script src="{function="asset('js/localization/messages_pt_BR.js','/site')"}"></script>

<!-- BOOSTRAP JS -->
<script src="{function="asset('js/bootstrap.min.js','/site')"}"></script>

<script src="{function="asset('js/script.js','/site')"}"></script>

</body>

</html>
