<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{function="asset('css/bootstrap.min.css','/site')"}">

    <link rel="stylesheet" href="{function="asset('css/style.css','/site')"}">

    <link rel="stylesheet" href="{function="asset('css/owl.carousel.css','/site')"}">
    <link rel="stylesheet" href="{function="asset('css/owl.theme.css','/site')"}">

    <link rel="stylesheet" href="{function="asset('css/slick.css','/site')"}">
    <link rel="stylesheet" href="{function="asset('css/slick-theme.css','/site')"}">

    <link rel="stylesheet" href="{function="asset('css/style.css','/site')"}">
    <link rel="stylesheet" href="{function="asset('css/mobile-style.css','/site')"}">

    <title>FAAM - Faculdade da Amazònia</title>
    <link rel="icon" type="image/x-icon" href="{function="asset('images/favicon.png','/site')"}" />
</head>

<body>