<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- {$head} -->
	
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="Sistema de Ensino Amazônia"/>
	<meta property="og:locale" content="pt_BR"/>
	<meta property="article:publisher" content="https://www.facebook.com/ensinoamazonia"/>
	<title>Sistema de Ensino Amazônia</title>
	<meta name="description" content="Ensino de qualidade, ensino híbrido, fundamental menor, fundamental maior, ensino médio, escola em Ananindeua, escola na Br 316, ensino Amazônia, escola Amazonia, Sistema de ensino Amazônia, escolinha de futsal, escolinha de balé, aulas de natação, natação em Ananindeua, aulas remotas, educação de qualidade, novo ensino médio, melhor escola de Ananindeua, melhor ensino de Ananindeua, ensino remoto, quadra poliesportiva, educação inovadora, aulas de inglês, aulas de redação, aulas de capoeira, aulas de vôlei, Escola Amazônia, escola Amazonia Ananindeua, escola Amazônia Br 316, Bncc."/>
	<meta name="robots" content="index, follow"/>
	<link rel="canonical" href="http://ensinoamazonia.local.com"/>
	<meta property="og:title" content="Sistema de Ensino Amazônia"/>
	<meta property="og:description" content="Ensino de qualidade, ensino híbrido, fundamental menor, fundamental maior, ensino médio, escola em Ananindeua, escola na Br 316, ensino Amazônia, escola Amazonia, Sistema de ensino Amazônia, escolinha de futsal, escolinha de balé, aulas de natação, natação em Ananindeua, aulas remotas, educação de qualidade, novo ensino médio, melhor escola de Ananindeua, melhor ensino de Ananindeua, ensino remoto, quadra poliesportiva, educação inovadora, aulas de inglês, aulas de redação, aulas de capoeira, aulas de vôlei, Escola Amazônia, escola Amazonia Ananindeua, escola Amazônia Br 316, Bncc."/>
	<meta property="og:url" content="http://ensinoamazonia.local.com"/>
	<meta property="og:image" content="http://ensinoamazonia.local.com/views/site/assets/images/predio.jpg"/>
	<meta name="twitter:title" content="Sistema de Ensino Amazônia"/>
	<meta name="twitter:description" content="Ensino de qualidade, ensino híbrido, fundamental menor, fundamental maior, ensino médio, escola em Ananindeua, escola na Br 316, ensino Amazônia, escola Amazonia, Sistema de ensino Amazônia, escolinha de futsal, escolinha de balé, aulas de natação, natação em Ananindeua, aulas remotas, educação de qualidade, novo ensino médio, melhor escola de Ananindeua, melhor ensino de Ananindeua, ensino remoto, quadra poliesportiva, educação inovadora, aulas de inglês, aulas de redação, aulas de capoeira, aulas de vôlei, Escola Amazônia, escola Amazonia Ananindeua, escola Amazônia Br 316, Bncc."/>
	<meta name="twitter:url" content="http://ensinoamazonia.local.com"/>
	<meta name="twitter:image" content="http://ensinoamazonia.local.com/views/site/assets/images/predio.jpg"/>
	<meta itemprop="name" content="Sistema de Ensino Amazônia"/>
	<meta itemprop="description" content="Ensino de qualidade, ensino híbrido, fundamental menor, fundamental maior, ensino médio, escola em Ananindeua, escola na Br 316, ensino Amazônia, escola Amazonia, Sistema de ensino Amazônia, escolinha de futsal, escolinha de balé, aulas de natação, natação em Ananindeua, aulas remotas, educação de qualidade, novo ensino médio, melhor escola de Ananindeua, melhor ensino de Ananindeua, ensino remoto, quadra poliesportiva, educação inovadora, aulas de inglês, aulas de redação, aulas de capoeira, aulas de vôlei, Escola Amazônia, escola Amazonia Ananindeua, escola Amazônia Br 316, Bncc."/>
	<meta itemprop="url" content="http://ensinoamazonia.local.com"/>
	<meta itemprop="image" content="http://ensinoamazonia.local.com/views/site/assets/images/predio.jpg"/>
	
	<link rel="icon" type="image/png" sizes="32x32" href="{function="assets('site')"}images/favicon.png" />

	<link rel="stylesheet" href="{function="assets('site')"}css/bootstrap.min.css">
	<link rel="stylesheet" href="{function="assets('site')"}css/slick.css">
	<link rel="stylesheet" href="{function="assets('site')"}css/slick-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" href="{function="assets('site')"}css/lightbox.css">
	<link rel="stylesheet" href="{function="assets('site')"}css/style.css">
	<link rel="stylesheet" href="{function="assets('site')"}css/mobile-style.css">

</head>

<body>

	<div class="ajax_load">
        <div class="ajax_load_box">
            <div class="ajax_load_box_circle"></div>
            <div class="ajax_load_box_title">Aguarde, carregando!</div>
        </div>
    </div>

    <header>
		<div id="header-top" class="d-none d-md-block mb-4">
			<div class="container-fluid bg--orange p-1">
				<div class="container">

					<div class="row">
						<div class="col-6 text-white">
							<small>
								<a href="#faq" class="text-white scroll">Perguntas Frequentes</a> |
								<a href="/ouvidoria" class="text-white">Ouvidoria</a> 
								<!-- <a href="http://webmail.ensinoamazonia.com.br/" target="_blank" class="text-white">Webmail</a> -->
							</small>
						</div>
						<div class="col-6 text-right">
							<ul class="list--icons">
								<li> <a href="https://mail.google.com/mail/u/0/" target="_blank"> <i class="fas fa-envelope"></i></a></li>
									<li> <a href="https://www.instagram.com/ensinoamazonia/" target="_blank"> <i class="fab fa-instagram fa-lg"></i></a></li>
									<li> <a href="https://www.facebook.com/ensinoamazonia" target="_blank"> <i class="fab fa-facebook fa-lg"></i></a></li>
									<li> <a href="https://www.youtube.com/channel/UCNL2vrZXJUUjVwcmH13aFHw" target="_blank"> <i class="fab fa-youtube fa-lg"></i></a></li>
									<li> 
										<a href="https://api.whatsapp.com/send?phone=5591988800630&text=Olá!%20Vim%20através%20do%20site."
										target="_blank" >
										<i class="fab fa-whatsapp fa-lg"></i>
									</a> 
									</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container mt-3">
				<div class="row m-2">
					<div class="col-md-3 p-0">
						<a href="{#URL_BASE#}"><img id="logo-header-color" src="{function="assets('site')"}images/logo-color-header.png" alt="LOGO-COLOR"></a>
					</div>
					<div class="col-md-3 text-right mt-3">
						<!-- DROPDOWN TELEFONES -->
						<div class="dropdown">
							<button class="btn bg--dropdown" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-chevron-down text--default fa-lg"></i> TELEFONES PARA CONTATO
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu">
								<button class="dropdown-item" type="button"><i class="fas fa-phone fa-sm"></i> (91) 98880-0630</button>
								<button class="dropdown-item" type="button"><i class="fas fa-phone fa-sm"></i> (91) 3081-5246</button>
							</div>
						</div>

					</div>
					<div class="col-md-3 text-right mt-3">
						<!-- DROPDOWN EMAILS -->
						<div class="dropdown">
							<button class="btn bg--dropdown" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-chevron-down text--default fa-lg"></i> E-MAILS PARA CONTATO
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu">
								<!-- <button class="dropdown-item" type="button"><i class="fas fa-envelope fa-sm"></i> contato@ensinoamazonia.com.br</button> -->
								<button class="dropdown-item" type="button"><i class="fas fa-envelope fa-sm"></i> secreataria@ensinoamazonia.com.br</button>
								<!-- <button class="dropdown-item" type="button"><i class="fas fa-envelope fa-sm"></i> coordenacao@ensinoamazonia.com.br</button> -->
								<!-- <button class="dropdown-item" type="button"><i class="fas fa-envelope fa-sm"></i> ouvidoria@ensinoamazonia.com.br</button> -->
							</div>
						</div>
					</div>

					<div class="col-md-3 text-right mt-3">
						<!-- DROPDOWN SERVIÇOS -->
						<div class="dropdown">
							<button class="btn bg--dropdown" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-chevron-down text--default fa-lg"></i> SERVIÇOS ON-LINE
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu">
								<a class="dropdown-item" href="http://201.30.93.64:90/sea/aluno/login/login.php" target="_blank">
									<i class="fas fa-user fa-sm"></i> ALUNO ON-LINE</a>
									<a class="dropdown-item"  href="http://201.30.93.64:90/sea/professor/login2/" target="_blank" type="button">
										<i class="fas fa-user fa-sm"></i> PROFESSOR ON-LINE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--End header-top-->

				<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary bg--default">
					<div class="container">
						<a class="navbar-brand d-md-none d-lg-none" href=".">
							ENSINO AMAZÔNIA
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="main_nav">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="{URL_BASE}">HOME</a></li>

								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="nd-inst" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">COLÉGIO</a>
									<div class="dropdown-menu" aria-labelledby="nd-inst">
										<a class="dropdown-item scroll" href="#sobre-colegio">QUEM SOMOS</a>
										<a class="dropdown-item scroll" href="/equipe">EQUIPE</a>
										<a class="dropdown-item scroll" href="/missao-educacional">MISSÃO EDUCACIONAL</a>
										<a class="dropdown-item scroll" href="/calendario-escolar">CALENDÁRIO ESCOLAR</a>
										<a class="dropdown-item scroll" href="/espaco-fisico">ESPAÇO FÍSICO</a>
										<a class="dropdown-item scroll" href="/informativo">INFORMATIVO</a>
										<a class="dropdown-item scroll" href="/localizacao">LOCALIZAÇÃO</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="nd-inst" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SERVIÇOS</a>
									<div class="dropdown-menu" aria-labelledby="nd-inst">
										<a class="dropdown-item" href="http://201.30.93.64:90/sea/aluno/login/login.php" target="_blank">ALUNO ON-LINE</a>
										<a class="dropdown-item" href="http://201.30.93.64:90/sea/professor/login2/" target="_blank">PROFESSOR ON-LINE</a>
										<a class="dropdown-item" href="http://webmail.ensinoamazonia.com.br/" target="_blank">WEBMAIL</a>
									</div>
								</li>


								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="nd-inst" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GALERIA</a>
									<div class="dropdown-menu" aria-labelledby="nd-inst">
										<a class="dropdown-item" href="/albuns">FOTOS</a>
										<a class="dropdown-item" href="/videos">VIDEOS</a>
									</div>
								</li>

								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="nd-inst" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ENSINOS</a>
									<div class="dropdown-menu" aria-labelledby="nd-inst">
										<a class="dropdown-item scroll" href="/ensino-fundamental-menor">FUNDAMENTAL MENOR</a>
										<a class="dropdown-item scroll" href="/ensino-fundamental-maior">FUNDAMENTAL MAIOR</a>
										<a class="dropdown-item scroll" href="/ensino-medio">ENSINO MÉDIO</a>
									</div>
								</li>

								<li class="nav-item"><a class="nav-link scroll" href="#eventos">EVENTOS</a></li>
								<li class="nav-item"><a class="nav-link scroll" href="#noticias">NOTÍCIAS</a></li>						 
								<li class="nav-item"><a class="nav-link scroll" href="#contato">CONTATO</a></li>

							</ul>
						</div> <!-- navbar-collapse.// -->
					</div> <!-- container.// -->
				</nav>
			</header>
