<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{function="asset('css/bootstrap.min.css','/site')"}">

    <link rel="stylesheet" href="{function="asset('css/owl.carousel.css','/site')"}">
    <link rel="stylesheet" href="{function="asset('css/owl.theme.css','/site')"}">

    <link rel="stylesheet" href="{function="asset('css/slick.css','/site')"}">
    <link rel="stylesheet" href="{function="asset('css/slick-theme.css','/site')"}">

    <link rel="stylesheet" href="{function="asset('css/style.css','/site')"}">
    <link rel="stylesheet" href="{function="asset('css/mobile-style.css','/site')"}">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>FAAM - Faculdade da Amazònia</title>
    <link rel="icon" type="image/x-icon" href="{function="asset('images/favicon.png','/site')"}" />
</head>

<body>

  <!--AJAX LOAD-->
  <div class="ajax_load">
    <div class="ajax_load_box">
        <div class="ajax_load_box_circle"></div>
        <div class="ajax_load_box_title">Aguarde, carregando!</div>
    </div>
</div>

<div style="background-color: #ff5a00; padding: 2px; text-align: right;">
    <div class="container d-none d-lg-block">
        <a style="color:#fff;  padding: 0px 6px;" href="https://www.facebook.com/faculdadedaamazonia" target="_blank">
                <i class="fa fa-facebook"></i>
        </a>
        <a style="color:#fff;  padding: 2px;" href="https://www.instagram.com/faamoficial/" target="_blank">
                <i class="fa fa-instagram"></i>
        </a>
        <a style="color:#fff;  padding: 2px;" href="https://www.youtube.com/channel/UCMgSVAJpxjBDh5ttG2bhU0Q" target="_blank">
                <i class="fa fa-youtube"></i>
        </a>

        <a style="color:#fff;  padding: 2px;" href="https://www.linkedin.com/school/faam---faculdade-da-amaz%C3%B4nia/" target="_blank">
                <i class="fa fa-linkedin"></i>
        </a>
    </div>
</div>
<div class="container d-none d-lg-block">
    <div class="topo--header " >
        <div style="width:40%">
           <a href="{#URL_BASE#}">
            <img src="/views/site/assets/images/logo-color.png" alt="" width="185px">
        </a>
        </div>

        <div>
            <ul>
                <li>
                    <div class="box">
                        <div>
                        </div>
                        <div>
                            <h3 style="text-align: right;">TELEFONES DE CONTATO</h3>

                            <h5 style="text-align: right;">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i> (91) 98872-7310<br/> 
                                <i class="fa fa-whatsapp" aria-hidden="true"></i> (91) 98756-8182 
                            </h5>
                        </div>
                    </div>
                </li>
                <li style="display: none;">
                    <div class="box">
                        <div>
                            <i class="fa fa-envelope-o fa-2x"></i>
                        </div>
                        <div>
                            <h3>E-MAIL PARA CONTATO</h3>
                            <h5>contato@faam.com.br</h5>
                        </div>
                    </div>
                </li>
                <li style="display: none;">
                    <div class="box">
                        <div>
                            <i class="fa fa-map-marker fa-2x"></i>
                        </div>
                        <div>
                            <h3>ENDEREÇO</h3>
                            <h5>BR 316, Km 07, n° 590</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>

</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand d-lg-none d-sm-block" href="#">
            <img src="/views/site/assets/images/logo-pb.png" alt="FAAM" class="logo--brand">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Institucional
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    
                        <a class="dropdown-item" href="/quem-somos">Quem Somos</a>
                        <a class="dropdown-item" href="/organizacao-administrativa">Organização Administrativa</a>
                        <a class="dropdown-item" href="/instalacoes">Instalações</a>
                        <a class="dropdown-item" href="https://portal.faam.com.br/biblioteca">Biblioteca</a>
                        <a class="dropdown-item" href="/downloads/2022/REGIMENTO_1.pdf">Regimento Institucional</a>
                        <a class="dropdown-item" href="/regulamentos">Regulamentos </a>
                        <a class="dropdown-item" href="/downloads/2022/ManualDoDocente.pdf">Manual do Docente</a>
                        <a class="dropdown-item" href="/downloads/2022/ManualDoAluno.pdf">Manual do Aluno</a>
                        <a class="dropdown-item" href="/downloads/2022/PDI-2019-2023.pdf">PDI</a>
                        <hr>
                        <a class="dropdown-item" href="/enade">ENADE</a>
                        <a class="dropdown-item" href="/egresso">Egressos</a>
                        
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Graduação
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> 
                        {include="menu"}
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://pos.faam.com.br/" target="_blank">Pós-Graduação e Extensão</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Vestibular
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {include="menu-vestibular"}
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#ouvidoriaModal">Ouvidoria</a>
                </li>

                <li class="nav-item">

                    <a class="nav-link" target="_blank" href="/storage/files/pdf/2024/01/faam-planner-calendario-academico-2024-oficial.pdf"> Calendário Acadêmico</a>
                    
                </li>
                   
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Serviços On-line
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://faam.jacad.com.br/academico/aluno-v2/login" target="_blank">Aluno On-line</a>
                        <a class="dropdown-item" href="https://faam.jacad.com.br/prof/professor.login.logic" target="_blank">Docente On-line</a>
                        <a class="dropdown-item" href="https://dliportal.zbra.com.br/Login.aspx?key=faam" target="_blank">Minha Biblioteca</a>
                        <a class="dropdown-item" href="https://faam.com.br/ava/" target="_blank">MOODLE</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>