

<!-- CAROUSEL / BANNER -->
<div id="owl-banners" class="owl-carousel owl-theme">

    {loop="$banners"}
    
            {if="$value.bool_banner_clicked != 1"}
            <div class="item"><img src="{$value.image}" alt="{$value.title}"></div>
            {else}
            <div class="item"><a href="/banners/{$value.slug}"><img src="{$value.image}" alt="{$value.title}"></a></div>
            {/if}

     {/loop}

</div>

<!-- <a href="/promocao-pos-graduacao"> <img src="/views/site/assets/images/banner_promocao.jpg" alt="PROMOÇÃO" style="width: 100%;"> </a> -->

<!-- <section class="page--section" >
    <div class="container">
        <div class="text-center">
            <h2>MOTIVOS PARA ESTUDAR NA FAAM</h2>
            <hr>
            <h3 class="p-0">Revolucione a sua carreira.</h3>
        </div>

        <div class="row mt-5">
          
            <div class="col-md-4 p-4">
                <div class="text-center">
                    <img width="100px" src="/views/site/assets/images/route.svg" alt="">
                </div>
                <p class="text-justify mt-3">
                    A Faculdade da Amazônia (FAAM),  está localizada na  BR 316, Km 07, n. 590, no coração de Ananindeua-Pará, com parada de ônibus na frente e lado da futura estação do BRT.
                    </button>

                </p>
            </div>
            <div class="col-md-4 p-4">
                <div class="text-center">
                    <img width="100px" src="/views/site/assets/images/bulding.svg" alt="">
                </div>
                <p class="text-justify mt-3">
                    A instituição possui uma excelente infraestrutura com quadra poliesportiva, piscina, sala de práticas corporais, laboratórios de anatomia e multifuncional, cozinha show e estacionamento gratuito.                 
                    </button>

                </p>
            </div>
            <div class="col-md-4 p-4">
                <div class="text-center">
                    <img width="100px" src="/views/site/assets/images/badge.svg" alt="">
                </div>
                <p class="text-justify mt-3">
                    A Faam tem como missão oferecer educação de excelência, enfatizando a importância da qualidade, para formar profissionais capacitados, éticos e conscientes do seu compromisso para com o desenvolvimento do Estado do Pará e da Região Amazônica. </button>

                </p>
            </div>
        </div>
    </div>

</section> -->

<!-- NOTICIAS E EVENTOS -->
<section class="page--section" id="noticias_agenda">

    <div class="container">

        <div class="row">
            <div class="col-md-4" style="border-right: 1px dashed #dbdbdb;">
                <h2>NOTÍCIAS <i class="fa fa-file-text-o"></i>
                </h2>
                <ul class="list--events">

                    {loop="$articles"}

                    <li>
                        <div class="box--events">
                            <div class="data">
                                <div class="mes">
                                    <span class="dia">{$value.dia}</span><span> {$value.mes}</span>
                                </div>
                            </div>

                            <h4><a href="noticia/{$value.slug}">{$value.title}</a>
                            </h4>
                            <h5> {$value.resume}... <span> <a href="noticia/{$value.slug}"> Saiba mais » </a></span> </h5>
                        </div>
                    </li>

                    {/loop}

                </ul>

                <button class="btn btn-default btn-sm">Veja Mais <i class="fa fa-arrow-right"></i>
                </button>
            </div>

            <div class="col-md-4" style="border-right: 1px dashed #dbdbdb;">
                <h2>AGENDA <i class="fa fa-calendar-o"></i>
                </h2>
                <ul class="list--events agenda">

                    {loop="$eventos"}

                    <li>
                        <div class="box--events">
                            <div class="data">
                                <div class="mes">
                                    <span class="dia">{$value.dia}</span><span> {$value.mes}</span>
                                </div>
                            </div>

                            <h4><a href="evento/{$value.slug}">{$value.title}</a>
                            </h4>
                            <h5> <span> <a href="evento/{$value.slug}"> Saiba mais » </a></span> </h5>
                        </div>
                    </li>

                    {/loop}

                </ul>
                <button class="btn btn-default btn-sm">Veja Mais <i class="fa fa-arrow-right"></i>
                </button>

            </div>
            <div class="col-md-4">
                <h2>FIQUE POR DENTRO <i class="fa fa-rss" aria-hidden="true"></i> </h2>
                <a href="vestibulares/vestibular-conectados">
                    <img src="/views/site/assets/images/vestibular-conectados-2022-1.jpeg" class="img-fluid" alt="VESTIBULAR CONECTADOS 2022.1">
                </a>
            </div>
        </div>
    </div>

</section>

<!-- CAROUSEL DE CURSOS-->
<section class="page--section" style="padding:0;margin-bottom:-2px">
    <div class="container-fluid">
        <div class="text-center">
            <h2>NOSSOS CURSOS DE GRADUÇÃO</h2>
            <hr>
            <br>
            <div class="container">
            </div>
        </div>

        <div class="row mt-2 bg--fundo--cursos">
            <div class="container">

                <ul class="box--cursos">

                    {loop="$cursos"}

                        <li>
                            <div>
                               <a href="/curso/{$value.id}"> <img src="{$value.logo}" alt="{$value.nome}" > </a>
                            </div>
                        </li>

                    {/loop}
                    
                </ul>

            </div>
        </div>
    </div>

</section>

<!-- CURSOS DE GRADUAÇÃO -->
<section class="page--section bg--alegoria">

    <div class="text-center">
        <h2> SOBRE A FAAM</h2>
        <hr>
        <h3>Conheça mais sobre nossa história e propostas de melhoria do Ensino Superior no Estado do Pará</h3>
    </div>

    <div class="container">
        <div class="row mt-3 justify-content-md-center">
            <div class="col-md-10">
                <p class="text-justify">

                    {include="sobre-faam-frente"}
                  
                </p>

            </div>
          
        </div>
    </div>
</section>

<!--BG-STAT-NUMBER-->
<section class="page--section bg-stat-number" style="display: none;">

    <div class="container-fluid bg-success">

        <div class="container">
            <h4>Juntos pela Educação</h4>
            <h5 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eaque ipsum enim
                repellat amet dolores
                quam temporibus placeat ex dicta nobis</h5>
            <div class="row">

                <div class="col-md-4 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="14">0</h2>
                        <h6>Cursos de Graduação</h6>
                    </div>
                </div>
                <div class="col-md-4 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="10">0</h2>
                        <h6>Cursos de Pós-Graduação</h6>
                    </div>
                </div>
                <div class="col-md-4 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="1500">0</h2>
                        <h6>Alunos</h6>
                    </div>
                </div>

            </div>
            <h5 class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste cupiditate eius
                repellat? Aliquid modi minima voluptates deleniti alias doloremque quos quidem? Consectetur cum
                ducimus enim officia ipsam, quibusdam sunt provident ipsum dolor sit amet consectetur adipisicing
                elit. Iste cupiditate eius repellat? Aliquid modi minima voluptates deleniti alias doloremque quos
                quidem? Consectetur cum ducimus enim officia ipsam, quibusdam sunt provident cum ducimus enim
                officia ipsam, quibusdam cum ducimus enim officia ipsam, quibusdam!</h5>
        </div>

    </div>
    <!--Container-fluid-->

    <div class="container-fluid bg--bottom--start--number">

        <div class="container">
            <h4>Conteúdo Interativo</h4>
            <div class="row mt-4">

                <div class="col-md-3 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="1099">0</h2>
                        <h6>Formados</h6>
                    </div>
                </div>
                <div class="col-md-3 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="1054">0</h2>
                        <h6>Formandos</h6>
                    </div>
                </div>
                <div class="col-md-3 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="16">0</h2>
                        <h6>Parceiros</h6>
                    </div>
                </div>
                <div class="col-md-3 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="2500">0</h2>
                        <h6>Carga Horária</h6>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--Container-fluid-->

</section>

<!---PARCEIROS-->
<section class="page--section bg--gray mb-5" style="display: none;">
    <div class="text-center">
        <h2>PARCEIROS</h2>
        <hr>
        <h3>Conheça alguns dos nossos maiores clientes e parceiros da instituição</h3>
    </div>
    <div class="container">
        <div class="slick_parceiros">
            <div> <img class="img-fluid d-block mx-auto" src="/views/site/assets/images/logo-cm-marituba.png" /></div>
            <div> <img class="img-fluid d-block mx-auto" src="/views/site/assets/images/logo_pref_marituba.png" /></div>
        </div>
    </div>
</section>

<!-- VIDEO INSTITUCIONAL -->
<section class="page--section" id="video_institucional" style="display: none;">
    <div class="container">
        <div class="text-right">
            <h2><i class="fa fa-video-camera"></i>
                VIDEO INSTITUCIONAL</h2>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 order-md-1">
                <p class="text-right">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus,
                    eius, quis asperiores mollitia quidem dolorem architecto libero earum dolore dolorum repellat
                    atque illum, quo dicta facere recusandae expedita omnis quidem dolorem architecto libero earum
                    dolore dolorum repellat atque illum, quo dicta facere recusandae expedita omnis repellat atque
                    illum, quo dicta facere recusandae expedita omnis... <button
                        class="btn btn-primary btn-sm">Saiba Mais</button>
                </p>
            </div>
            <div class="col-md-6 order-md-0">
                <img src="/views/site/assets/images/student02.jpg" alt="IMAGE" class="img-fluid pl-2">

            </div>
        </div>
    </div>
</section>


<!-- CONTATO-->

<section id="contato" style="padding: 0">

    <div class="container">

        <div class="row">

            <div class="col-md-7 mt-5 details-contact">
                <h4>Contato-nos</h4>
                <p class="mt-4 mb-4"><i class="text-muted">
                        Contate-nos por e-mail ou telefone de acordo com o departamento correspondente à sua
                        solicitação
                        ou dúvida.</i></p>
                    <h5>Central de Relacionamento</h5>
                    <p>
                        <i class="fa fa-phone fa-sm"></i> (91) 98420-8044</br>
                        <i class="fa fa-phone fa-sm"></i> (91) 98872-7310</br>
                        <i class="fa fa-phone fa-sm"></i> (91) 98756-8182</br>
                        <i class="fa fa-phone fa-sm"></i> (91) 98875-7310</br>
                    </p>
    
                    <h5>Secretaria Acadêmica</h5>
                    <p>
                        <i class="fa fa-phone fa-sm"></i> (91) 98308-0630</br>
                    </p>
    
                    <h5>Financeiro</h5>
                    <p>
                        <i class="fa fa-phone fa-sm"></i> (91) 98712-2767</br>
                        <i class="fa fa-phone fa-sm"></i> (91) 98809-7310</br>
                    </p>

            </div>
            <div class="col-md-5 bg--default">
                <div class="wrap-form">
                    <!-- FOCO -->
                    <form method="POST" name="form-contato" id="form-contato">
                        <h5>Envie sua mensagem</h5>
                        <p>Nosso setor de atendimento está sempre pronto para ouvir você. Contudo pedimos que envie
                            sua
                            mensagem e aguarde!</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Digite seu nome">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        placeholder="Digite seu telefone">
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu e-mail">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Digite sua mensagem" class="form-control" name="message"
                                id="message" cols="30" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button class="btn--default btn-lg bg--send" type="submit"> Enviar <i
                                            class="fa fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                    </form> <!-- End form -->

                </div>
            </div>
        </div>
    </div>
</section>

<!-- MAPA -->
<iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15954.689191901372!2d-48.3870412!3d-1.3733082!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x991a61f6b9c71641!2sSistema%20de%20Ensino%20Amaz%C3%B4nia!5e0!3m2!1spt-BR!2sbr!4v1609803343347!5m2!1spt-BR!2sbr"
    width="100%" height="380" frameborder="0" style="border:0;margin-bottom: -12px;" allowfullscreen=""
    aria-hidden="false" tabindex="0">
</iframe>


<a href="https://api.whatsapp.com/send?phone=5591984208044&text=Bom dia! Atendimento FAAM" target="_blank"
    style="position:fixed;bottom:54px;right:26px;">
    <img src="/views/site/assets/images/whatsapp.svg" alt="WHATSAPP" width="50">
</a>