<!-- Modal -->
<div class="modal fade" id="ouvidoriaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Questionário da Ouvidoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/ouvidoria/store" method="POST" id="form-ouvidoria">
            <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label"><strong>Usuário:</strong></label>
                        <div>
                            {loop="$ouvUsuarios"}
                            <input type="radio" name="usuario" value="{$value.id}"> {$value.nome}
                            {/loop}
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="recipient-name" class="col-form-label"> <strong>Setor:</strong></label>

                        <div class="row">
                            {loop="$ouvSetores"}
                            <div class="col-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="setor"
                                        id="{$value.nome}_{$value.id}" value="{$value.id}">
                                    <label class="form-check-label" for="{$value.nome}_{$value.id}">
                                        {$value.nome}
                                    </label>
                                </div>
                            </div>
                            {/loop}

                        </div>

                    </div>

                    <div class="form-group">
                        <label for="tipo"><strong>Tipo:</strong></label>
                        <select multiple class="form-control" id="tipo" name="tipo">
                            {loop="$ouvTipos"}
                            <option value="{$value.id}">{$value.nome} - {$value.descricao}</option>
                            {/loop}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="observacao" class="col-form-label"><strong>Observação:</strong></label>
                        <textarea class="form-control" id="observacao" name="observacao"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>