<p><img alt="" src=" /storage/images/detached/2021/06/design-sem-nome.png" style="height:55px; width:100px" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<table align="left" border="0" cellpadding="1" cellspacing="1" style="width:800px">
	<tbody>
		<tr>
			<td>
			<p>A Faculdade da Amaz&ocirc;nia (FAAM),&nbsp;foi credenciada por meio da Portaria Ministerial n&ordm; 2.241 de 29/07/2004 e est&aacute; localizada na&nbsp;BR 316, Km 07, n. 590, no cora&ccedil;&atilde;o de Ananindeua-Par&aacute;. H&aacute; 16 anos, a Faculdade da Amaz&ocirc;nia tem como miss&atilde;o oferecer educa&ccedil;&atilde;o de excel&ecirc;ncia, enfatizando a import&acirc;ncia da qualidade, para formar profissionais capacitados, &eacute;ticos e conscientes do seu compromisso para com o desenvolvimento do Estado do Par&aacute; e da Regi&atilde;o Amaz&ocirc;nica.</p>

			<p>A FAAM desde a data de seu surgimento, vem se expandindo aceleradamente, estabelecendo seu referencial na excel&ecirc;ncia da qualidade do ensino superior na Amaz&ocirc;nia.</p>

			<p>Atualmente, oferece 11 cursos de gradua&ccedil;&atilde;o: Administra&ccedil;&atilde;o, Ci&ecirc;ncias Cont&aacute;beis, Engenharia da Produ&ccedil;&atilde;o, Servi&ccedil;o Social, Enfermagem, Psicologia, Nutri&ccedil;&atilde;o, Direito, Gastronomia, Educa&ccedil;&atilde;o F&iacute;sica, e Pedagogia</p>
			</td>
		</tr>
	</tbody>
</table>
